<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <a routerLink="/accountsdetails" class="nav-link"><span class="nav-link-span"><span class="u-nav">Account List</span></span></a>
        <a routerLink="/accountscreate" class="nav-link"><span class="nav-link-span"><span class="u-nav">Create Account</span></span></a>
      </div>
    </nav>
  </header>
  <main>
  </main>
</body>
</html>
<router-outlet></router-outlet>
